USE [master]
GO
/****** Object:  Database [ImagesDB]    Script Date: 28/09/2019 11:18:22 p. m. ******/
CREATE DATABASE [ImagesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImagesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ImagesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ImagesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ImagesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImagesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImagesDB]
GO
USE [ImagesDB]
GO
/****** Object:  Table [dbo].[ImageCompare]    Script Date: 28/09/2019 11:18:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageCompare](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
	[FirstImageName] [nvarchar](250) NULL,
	[SecondImageName] [nvarchar](250) NULL,
	[ImagePath2] [nvarchar](500) NULL,
	[DateRecord] [datetime] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageCompare] ADD  DEFAULT (getdate()) FOR [DateRecord]
GO
USE [master]
GO
